{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static 'Bilder/logo.png' %}">

  {% include 'include/links.html' %}

  <title>Frischverliebt</title>

 <style>

 </style> 
</head>


<body style="background-color: #D6EAC1;">
<!-- side bar -->

  {% include 'include/aside.html' %}


  {% include 'include/nav.html' %}







  <main>
    <!-- landing section -->
    <section style="margin-bottom: 350px; margin-top: 100px;" class="d-flex justify-content-center">
      <div  class="container" data-aos="fade-down">


        <div class="row mt-5">
        <div class="col-12 text-center">
          <h1 class="display-4 text-danger">Der Bestellvorgang ist fehlgeschlagen!!</h1>
          <p class="text-danger">Bitte versuchen Sie es später erneut.</p>
          <a href="{% url 'home' %}" class="btn btn-black mt-3">Startseite</a>
        </div>

        </div>
      </div>
    </section>

    

  </main>
  
  {% include 'include/footer.html' %}


  {% include 'include/scripts.html' %}


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<script src="{% static 'Js/products.js' %}"></script>


  <script src="https://js.stripe.com/v3/"></script>
    
  {% include 'include/ajax_functions.html' %}




</body>

</html>