{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include 'include/links.html' %}

  <title>SM-Handels</title>
</head>

<body>


  
  {% include 'include/nav.html' %}



  {% include 'include/aside.html' %}
  
  <main>
    <!-- landing section -->
    <header class="d-flex justify-content-center align-items-center">
      <div class="container " data-aos="fade-down">
        <div class="row">
          <div class="col-lg-6 d-flex justify-content-center align-items-center text-center">
            <div class="text-center mt-5">
              <span class="fw-bold ">Willkommen in unser Shop</span>
              <h2 class="header-heading">Frisches Obst & Gemüse</h2>
              <div class="p-contained d-flex justify-content-center align-items-center">
                
                <p class="paragraph-width fw-bold">

Bei S&M Handels bringen wir die Frische des Marktes zu Ihnen – ob nach Hause oder ins Büro. Entdecken Sie unser vielfältiges Angebot an frischem Obst und Gemüse. Wählen Sie aus erstklassigen, sorgfältig ausgesuchten Produkten für den täglichen Genuss oder Ihre geschäftlichen Bedürfnisse. Gesund, lecker und nur einen Klick entfernt – bestellen Sie jetzt und erleben Sie Qualität und Frische bei jeder Lieferung!

                </p>
              </div>

              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'products' %}"><button class="btn btn-orange">Jetzt Bestellen</button></a>
  
              {% else %}
             <a href="{% url 'home' %}#our-products"> <button class="btn btn-orange">Jetzt Bestellen</button></a>

             {%  endif %}
            </div>
          </div>
          <div class="col-lg-6">
            <img src="{% static 'Bilder/header.png' %}" class="w-100" alt="" />
          </div>
        </div>
      </div>
    </header>
    <!-- About Us Section -->
    <section id="about-us" class="py-5">
      <h2 class="text-center fw-medium  fs-1">Über Uns</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="bg-main-color" data-aos="fade-right">
              <h2 class="text-black">Frisches Obst & Gemüse Kisten</h2>
            </div>
          </div>
          <div class="col-md-7 about-second-part d-flex align-items-center">
            <div style="margin-left: 10px;" data-aos="fade-down ms-3">
              <h3 class="">Restaurants, Events, Klein- & Großunternehmen, Privat</h3>
              <ul>
                <li>
                 Gourmetqualität garantiert: Unsere Obst- & Gemüsekisten liefern die frischeste Vielfalt für Ihre anspruchsvolle Küche.
                </li>
                <li>
                  Event-Catering mit Frischekick: Verwöhnen Sie Ihre Gäste mit der besten Auswahl an naturbelassenen Produkten.
                </li>
                <li>
                  Office-Health-Boost: Gesund essen, besser arbeiten – unsere Kisten unterstützen ein vitales Team.
                </li>
                <li>
                  Frische Markt-Erlebnisse für Zuhause: Genießen Sie naturbelassene Qualität, persönlich für Sie ausgewählt.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="cards-about-us my-5 py-3">
          <div class="row">
            <div class="col-6 col-lg-4" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <img  class="mt-2" src="{% static 'Bilder/Flexibel_Icon.png' %}" alt="Card Image" />
                  <h3 class="mt-3">Flexibel</h3>
                  <div class="card-content">
                    <p>
                      Ihre Bedürfnisse ändern sich und wir passen uns an. Bestellen Sie, wie es Ihnen passt – ohne Mindestlaufzeiten oder feste Abnahmemengen
                    </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-6 col-lg-4" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <img class="mt-2" src="{% static 'Bilder/Bindung_icon.png' %}" alt="Card Image" />
                  <h3 class="mt-3">Keine Bindung</h3>
                  <div class="card-content">
                    <p>
                      Genießen Sie volle Freiheit mit unseren flexiblen Vertragsmodellen. Ohne langfristige Verpflichtungen bleiben Sie ungebunden und flexibel
                    </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-6 col-lg-4" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <img class="mt-2" src="{% static 'Bilder/Monat.png' %}" alt="Card Image" />
                  <h3 class="special-style mt-3 me-3">Monats- <br>
                    rechnungen
                    </h3>
                  <div class="card-content">
                    <p>
                      Einfache und übersichtliche Monatsrechnungen erleichtern Ihre Buchhaltung und sorgen für klare Kostenkontrolle
                    </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-6 col-lg-4 offset-lg-2" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <img  src="{% static 'Bilder/van.png' %}" class="unique-img mt-2" alt="Card Image" />
                  <h3 class="mt-2">Lieferung</h3>
                  <div class="card-content">
                    <p>
                      Schnell und zuverlässig: Wir liefern frisch und pünktlich an Ihre Wunschadresse, damit Sie immer das Beste aus unserer Auswahl genießen können
                    </p>
                  </div>
                </article>
              </div>
            </div>

            <div class="offset-3 offset-lg-0 col-6 col-lg-4 align-self-center" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <img  src="{% static 'Bilder/quality.png' %}" class="unique-img mt-2" alt="Card Image" />
                  <h3 class="mt-3">Qualität</h3>
                  <div class="card-content">
                    <p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore dolore voluptate similique nemo magni, voluptatibus enim maiores reiciendis ducimu</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
     
    </section>
    <!-- Our Prodicts Section -->
    <section id="our-products" class="bg-main-color">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      
            <div class="modal-body" id="modalsignReg">
              <div class="register d-none" id="registerModal">
                <h1 class="modal-title text-white text-center m-auto py-3" id="exampleModalLabel">
                  Kundenkonto erstellen
                </h1>
                
                <div class="register-buttons d-flex justify-content-center gap-4">
                  <button class="btn register-btn" id="privateReg" onclick="filterInputsAccordingToRole(this)">
                    Privat
                  </button>
                  <button class="btn register-btn activeRegsiterBtn" id="firmReg" onclick="filterInputsAccordingToRole(this)">
                    Firma
                  </button>
                </div>

                <div id="error-container"></div>
                <span class="error-message text-danger d-block" id="error message"></span>

                <form id="signupForm" method="POST" action="{% url 'signup' %}">
                  {% csrf_token %}
                  <input type="hidden" name="role" id="role" value="company">


                  <div class="register-inputs-container px-5 d-none animate__animated animate__fadeInDown " id="inputs-priv">
                    <label class="form-label fw-bold">Vorname*</label>
                    <input type="text" class="form-control" name="first_name" id="vornamePriv" />
                    <span id="vornameErrorPriv" class="error-message text-danger d-block"></span>

                    <label class="form-label fw-bold">Nachname*</label>
                    <input type="text" class="form-control" name="last_name" id="nachnamePriv" />
                    <span id="nachnameErrorPriv" class="error-message text-danger d-block"></span>

                    <label class="form-label fw-bold">E-Mail*</label>
                    <input type="email" class="form-control" name="email" id="emailPriv" />
                    <span id="emailErrorPriv" class="error-message text-danger d-block"></span>

                    <label class="form-label fw-bold">Telefonnummer*</label>
                    <input type="text" class="form-control" name="atu_number" id="phonePriv" />
                    <span id="emailErrorPriv" class="error-message text-danger d-block"></span>

                    <label class="form-label fw-bold">Bezirk*</label>
                    <input type="text" class="form-control" name="bezirk" id="bezirkPriv" />
                    
                    <label class="form-label fw-bold">Postleitzahl*</label>
                    <input type="text" class="form-control" name="plz_zip" id="plz_zipPriv" />

                    <label class="form-label fw-bold">Adresse*</label>
                    <input type="text" class="form-control" name="street_address" id="street_addressPriv" />

                    <label class="form-label fw-bold">Hausnummer*</label>
                    <input type="text" class="form-control" name="hausnummer" id="hausnummerPriv" />



                    <label class="form-label fw-bold">Passwort*</label>
                    <input type="password" class="form-control" name="password1" id="passwordPriv" />
                    <span id="passwordErrorPriv" class="error-message text-danger d-block"></span>
                    <label class="form-label fw-bold">Passwort bestätigen*</label>
                    <input type="password" class="form-control" name="password2" id="confirmPasswordPriv" />
                    <span id="confirmPasswordErrorPriv" class="error-message text-danger d-block"></span>
                  </div>
                  
                  <div class="register-inputs-container px-5 animate__animated animate__fadeInDown" id="inputs-firm">
                    <label class="form-label fw-bold">Vorname*</label>
                    <input required type="text" class="form-control" name="first_name" id="vornameFirm" />
                    <span id="vornameFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">Nachname*</label>
                    <input required  type="text" class="form-control" name="last_name" id="nachnameFirm" />
                    <span id="nachnameFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">Firmennamen*</label>
                    <input required type="text" class="form-control" name="company_name" id="firmNameFirm" />
                    <span id="firmNameError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">ATU-Nummer*</label>
                    <input required  type="text" class="form-control" name="atu_number" id="atuFirm" />
                    <span id="atuFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">E-Mail*</label>
                    <input required type="email" class="form-control" name="email" id="emailFirm" />
                    <span id="emailFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">Bezirk*</label>
                    <input required type="text" class="form-control" name="bezirk" id="bezirkFirm" />
                    
                    <label class="form-label fw-bold">Postleitzahl*</label>
                    <input required type="text" class="form-control" name="plz_zip" id="plz_zipFirm" />

                    <label class="form-label fw-bold">Adresse*</label>
                    <input required type="text" class="form-control" name="street_address" id="street_addressFirm" />

                    <label class="form-label fw-bold">Hausnummer*</label>
                    <input required type="text" class="form-control" name="hausnummer" id="hausnummerFirm" />




                    <label class="form-label fw-bold">Passwort*</label>
                    <input required type="password" class="form-control" name="password1" id="passFirm" />
                    <span id="passFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">Passwort bestätigen*</label>
                    <input required  type="password" class="form-control" name="password2" id="confirmPasswordFirm" />
                    <span id="confirmPasswordErrorFirm" class="error-message d-block text-danger"></span>
                  </div>
                  
                  <div class="px-5 py-0">
                    <button type="submit" class="btn btn-black my-3 w-100">Kundenkonto erstellen</button>
                    <button class="btn btn-white w-100" class="btn-white" id="backToLogin" onclick="displayLogin()">
                      Zurück zur Anmeldung
                    </button>
                  </div>
                </form>
                
              </div>
              <div class="login  animate__animated animate__fadeIn px-5 py-3" id="loginModal">
                <div id="loginErrorContainer"></div>
                <form id="loginForm">
                    {% csrf_token %}
                    <label class="form-label fw-bold">E-Mail*</label>
                    <input type="email" class="form-control" id="loginEmail" name="email" required>
                    <label class="form-label fw-bold">Passwort*</label>
                    <input type="password" class="form-control" id="loginPassword" name="password" required>
                    <p><a style="color: whitesmoke;">Passwort vergessen?</a></p>
                    <button type="submit" class="btn btn-black my-3 w-100">LOGIN</button>
                </form>
                <hr style="height: 2px; 
                background-color: #000; 
                opacity: 0.8;">
                <p style="color: whitesmoke;">Du hast noch kein Konto?</p>
                <button class="btn-white w-100" id="backToRegister" onclick="backToRegister()">
                  KUNDENKONTO ERSTELLEN
                </button>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-center">
        <h2 class="text-color-green">Unsere Produkte</h2>
        <span class="text-white fs-5">Hier sind unsere Bestseller </span>
      </div>
      </div>
      <div class="cards-container p-4 mt-4">
        <div class="container">
          <div class="row">
            <div class=" col-md-6 col-lg-4 resposive-padding" data-aos="zoom-in-left">
              <div class="bg-white p-4 h-100">
                <img src="{% static 'Bilder/box.JPG' %}" class="w-100 translated-img" alt="" />
                <p class="fs-6 fw-semibold">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                  magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamcorper suscipit lobortis
                  nisl ut
                </p>
                {% if user.is_authenticated %}
                <a href="{% url 'products' %}" class="btn btn-orange d-block m-auto">Jetzt Bestellen</a>
                {% else %}
                <button class="btn btn-orange d-block m-auto mt-3" id="allProdBtn" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Jetzt Bestellen
              </button>
                {% endif %}

              </div>
            </div>
            <div class=" col-md-6 col-lg-4 resposive-padding" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="bg-white p-4 h-100">
                <img src="{% static 'Bilder/box.JPG' %}" class="w-100 translated-img" alt="" />
                <p class="fs-6 fw-semibold">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                  magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamcorper suscipit lobortis
                  nisl ut
                </p>
                {% if user.is_authenticated %}
                <a href="{% url 'products' %}" class="btn btn-orange d-block m-auto">Jetzt Bestellen</a>
                {% else %}
                <button class="btn btn-orange d-block m-auto mt-3" id="allProdBtn" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Jetzt Bestellen
              </button>
                {% endif %}

              </div>
            </div>
            <div class=" col-md-6 col-lg-4 resposive-padding" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="bg-white p-4 h-100">
                <img src="{% static 'Bilder/box.JPG' %}" class="w-100 translated-img" alt="" />
                <p class="fs-6 fw-semibold">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                  magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamcorper suscipit lobortis
                  nisl ut
                </p>
                {% if user.is_authenticated %}
                <a href="{% url 'products' %}" class="btn btn-orange d-block m-auto">Jetzt Bestellen</a>
                {% else %}
                <button class="btn btn-orange d-block m-auto mt-3" id="allProdBtn" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Jetzt Bestellen
              </button>
                {% endif %}
              </div>
            </div>
            
            {% if user.is_authenticated %}
            <a href="{% url 'products' %}">
            <button class="btn btn-orange d-block m-auto mt-3" id="allProdBtn" >
            Alle Produkte
          </button>
        </a>
              {% else %}
              <button class="btn btn-orange d-block m-auto mt-3" id="allProdBtn" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Alle Produkte
            </button>
            {% endif %}
              

          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us Section -->
    <section id="contact-us" class="p-1">
      <div class="container my-5 bg-danger">
        <div class="row">
          <!-- inputs right -->
          <div class="col-lg-6 bg-third-color p-4">
            <div class="">
              <h4>Senden Sie Ihre Anfrage</h4>
              <form method="post" action="{% url 'submit_contact' %}">
                {% csrf_token %}
                <div class="inputs-container">
                  <input type="text" name="name" class="contact-input form-control" placeholder="Name" required />
                  <input type="email" name="email" class="contact-input form-control" placeholder="Email" required />
                  <input type="tel" name="phone" class="contact-input form-control" placeholder="Telefon" required />
                  <input type="text" name="address" class="contact-input form-control" placeholder="Adresse (Optional)" />
                  <textarea name="message" class="contact-input form-control" placeholder="Nachricht schreiben ..." required></textarea>
                  <button type="submit" class="btn btn-orange my-3">Jetzt Senden</button>
                </div>
              </form>
            </div>
          </div>
          <!-- details left -->
          <div class="col-lg-6 bg-main-color">
            <div>
              <div class="row">
                <div class="col-6 py-5 px-3 text-white">
                  <div>
                    <h2 class="fs-2 letter-spacing">Kontakt</h2>
                    <p class="lead fw-lighter ">Bei Fragen oder für weitere Informationen kontaktieren Sie uns gerne über das Formular oder direkt per Telefon und E-Mail. Wir helfen Ihnen schnell und kompetent weiter. </p>
                      <ul>
                        <li class="d-flex my-3">
                          <div class=" d-flex align-items-center "><img src="{% static 'Bilder/Ort.png' %}" class="img-icon " alt=""></div>
                          <div class="ps-2 line-h">
                            <h6 class="h5 p-0 m-0 fw-lighter" >Adresse</h6>
                            <span class="text-white lead">Großmarkt Wien: Laxenburger Str. 367, 1230 Wien</span>
                          </div>
                           
                        </li>
                        <li class="d-flex my-3 line-h">
                          <div class=" d-flex align-items-center "><img src="{% static 'Bilder/Telefon.png' %}" class="img-icon " alt=""></div>
                          <div class="ps-2">
                            <h6 class="h5 p-0 m-0 fw-lighter" >Telefonnummer</h6>
                            <span class=""><a href="tel:+43 676 6996690" class="text-white lead">+43 676 6996690
                            </a></span>
                          </div>
                           
                        </li>
                        <li class="d-flex my-3 line-h">
                          <div class=" d-flex align-items-center "><img src="{% static 'Bilder/mail.png' %}" class="img-icon " alt=""></div>
                          <div class="ps-2">
                            <h6 class="h5 p-0 m-0 fw-lighter" >Email</h6>
                            <span class=""><a href="mailto:office@smhandels.com" class="text-white lead">office@smhandels.com</a></span>
                            <br>
                            <!-- <span class=""><a href="mailto:max2@mustermann.com" class="text-white lead">max2@mustermann.com</a></span> -->
                          </div>
                           
                        </li>
                        
                      </ul>
                  </div>
                </div>
                <div class="col-6 p-0">
                  <div class="h-100 p-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.885151005754!2d16.360608391851066!3d48.131738177427685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da96af8e66d6d%3A0x4248020de889dad9!2sLaxenburger%20Str.%20367%2C%201230%20Wien!5e0!3m2!1sde!2sat!4v1716723444952!5m2!1sde!2sat" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  {% include 'include/footer.html' %}


  {% include 'include/scripts.html' %}


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
      <script src="{% static 'Js/index.js' %}"></script>

  <script src="{% static 'Js/custom.js' %}"></script>

<script src="{% static 'Js/products.js' %}"></script>




    
  {% include 'include/ajax_functions.html' %}




</body>

</html>