{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static 'Bilder/logo-big2.png' %}">

  {% include 'include/links.html' %}

  <title>Frischverliebt</title>

<style>
  @media (min-width: 992px) {
  .custom-height{
    height: 197px;
    margin-bottom: 0.25rem;
  }
 .modal-special-products .modal-content{
    width: 70%;
  }
}


.modal-special-products h2{
font-size: 32px !important;
}
.unit-span {
  display: inline-block;
  width: 50px; 
  text-align: start;
}
.quantity{
  width: 16px;
}

#about-us #sub-heading{
    font-size: 28px !important;
  }
  @media (max-width: 992px) {
  .custom-height{
    height: 147px;
    margin-bottom: 0.25rem;
  }

  #about-us #sub-heading{
    font-size: 25px !important;
  }
  #our-products .title-product{
    font-size: 34px;
  }
} 

</style>

</head>

<body>


  
  {% include 'include/nav.html' %}



  {% include 'include/aside.html' %}
  
  <main>
    <!-- landing section -->
    <header class="d-flex justify-content-center align-items-center">
      <div class="container " data-aos="fade-down">
        <div class="row">
          <div class="col-lg-6 d-flex justify-content-center align-items-center text-center">
            <div class="text-center mt-5">
              <span class="fw-bold ">Willkommen in unser Shop</span>
              <h2 class="header-heading">Frisches Obst & Gemüse</h2>
              <div class="p-contained d-flex justify-content-center align-items-center">
                
                <p class="paragraph-width fw-bold">
                  Willkommen bei frischverliebt, Ihrem Lieblingslieferanten für frisches Obst und Gemüse in Wien! Lassen Sie sich von unserer Vielfalt verführen – von strahlend gelben Zitronen über bunten Äpfeln bis hin zu saftig grünen Salaten. Unser Sortiment ist so bunt und abwechslungsreich wie das Leben selbst. Unser Angebot reicht von heimischen Klassikern bis hin zu exotischen Spezialitäten – immer knackig, saftig und voller Geschmack.
                </p>
              </div>

              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'products' %}"><button class="btn custom-color-bg2">Jetzt Bestellen</button></a>
  
              {% else %}
             <a href="{% url 'home' %}#our-products"> <button class="btn custom-color-bg2">Jetzt Bestellen</button></a>

             {%  endif %}
            </div>
          </div>
          <div class="col-lg-6">
            <img src="{% static 'Bilder/header.png' %}" class="w-100" alt="" />
          </div>
        </div>
      </div>
    </header>
    <!-- About Us Section -->
    <section id="about-us" class="py-5">
      <h2 class="text-center fw-medium  fs-1">Über Uns</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="bg-main-color p-4" data-aos="fade-right">
              <h2 class="text-black text-center">Für jeden Bedarf</h2>
            </div>
          </div>
          <div class="col-md-7 about-second-part d-flex align-items-center">
            <div style="margin-left: 10px;" data-aos="fade-down ms-3">
              <h3 id="sub-heading" >Privatpersonen, Restaurants, Büros, Events und mehr</h3>
              <ul>
                <li>

                  Egal, ob Sie eine Privatperson sind, ein Restaurant betreiben, ein Büro versorgen oder eine Veranstaltung planen – frischverliebt ist Ihr verlässlicher Partner. Unsere frischen Produkte passen sich flexibel Ihren Bedürfnissen an und sorgen stets für das gewisse Extra an Frische und Qualität. Begeistern Sie Ihre Familie, Gäste oder Mitarbeiter mit knackigen Salaten, fruchtigen Snacks, saisonalen Köstlichkeiten oder Eventplatten, die das Herz höher schlagen lassen.                
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="cards-about-us my-5 py-3">
          <div class="row">
            <div class="col-6 col-lg-4" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <div class="custom-height">
                  <img  class="mt-2" src="{% static 'Bilder/Flexibel_Icon.png' %}" alt="Card Image" />
                  <h3 class="mt-3">Flexibilität</h3>
                </div>
                  <div class="card-content">
                    <p>
                      Bestellen Sie genau das, was Sie brauchen, wann Sie es brauchen – ganz ohne Bindung.
                    </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-6 col-lg-4" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <div class="custom-height">
                  <img class="mt-2" src="{% static 'Bilder/Bindung_icon.png' %}" alt="Card Image" />
                  <h3 class="mt-3">⁠Ohne Bindung</h3>
                </div>
                  <div class="card-content">
                    <p>
                      Keine langfristigen Verpflichtungen, volle Freiheit bei jeder Bestellung.
                 </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-6 col-lg-4" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <div class="custom-height">
                  <img class="mt-2" src="{% static 'Bilder/Monat.png' %}" alt="Card Image" />
                  <h3 class=" mt-3 me-3">Monatsrechnungen
                    </h3>

                  </div>
                  <div class="card-content">
                    <p>
                      Einfache und übersichtliche Monatsrechnungen erleichtern Ihre Buchhaltung und sorgen für klare Kostenkontrolle
                    </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-6 col-lg-5  offset-lg-1  mt-lg-5" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <div class="custom-height">
                  <img  src="{% static 'Bilder/van.png' %}" class="unique-img mt-2" alt="Card Image" />
                  <h3  class="mt-3 ">Lieferung


                  </h3>
                </div>
                  <div class="card-content">
                    <p>
                      Täglich frisch direkt zu Ihnen – pünktlich und zuverlässig.
                                        </p>
                  </div>
                </article>
              </div>
            </div>

            <div class="offset-2 offset-sm-3 offset-lg-0 col-8 col-sm-6 col-lg-4 align-self-center mt-lg-5" data-aos="zoom-in-up">
              <div class="h-100 about-div">
                <article class="text-center">
                  <div class="custom-height">
                  <img  src="{% static 'Bilder/quality.png' %}" class="unique-img mt-2" alt="Card Image" />
                  <h3 style="white-space: nowrap;" class="mt-3">Höchste Qualität</h3>
                </div>
                  <div class="card-content">
                    <p>
                      Wir wählen unser Obst und Gemüse mit größter Sorgfalt aus, damit Sie nur das Beste erhalten.                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
     
    </section>
    <!-- Our Prodicts Section -->
    <section style="background-image: url({% static 'Bilder/frischverliebt1.png' %});" id="our-products" class="bg-main-color">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      
            <div class="modal-body" id="modalsignReg">
              <div class="register d-none" id="registerModal">
                <h1 class="modal-title text-white text-center m-auto py-3" id="exampleModalLabel">
                  Kundenkonto erstellen
                </h1>
                
                <div class="register-buttons d-flex justify-content-center gap-4">
                  <button class="btn register-btn" id="privateReg" onclick="filterInputsAccordingToRole(this)">
                    Privat
                  </button>
                  <button class="btn register-btn activeRegsiterBtn" id="firmReg" onclick="filterInputsAccordingToRole(this)">
                    Firma
                  </button>
                </div>

                <div id="error-container"></div>
                <span class="error-message text-danger d-block" id="error message"></span>

                <form id="signupForm" method="POST" action="{% url 'signup' %}">
                  {% csrf_token %}
                  <input type="hidden" name="role" id="role" value="company">


                  <div class="register-inputs-container px-5 d-none animate__animated animate__fadeInDown " id="inputs-priv">
                    <label class="form-label fw-bold">Vorname*</label>
                    <input type="text" class="form-control" name="first_name" id="vornamePriv" />
                    <span id="vornameErrorPriv" class="error-message text-danger d-block"></span>

                    <label class="form-label fw-bold">Nachname*</label>
                    <input type="text" class="form-control" name="last_name" id="nachnamePriv" />
                    <span id="nachnameErrorPriv" class="error-message text-danger d-block"></span>

                    <label class="form-label fw-bold">E-Mail*</label>
                    <input type="email" class="form-control" name="email" id="emailPriv" />
                    <span id="emailErrorPriv" class="error-message text-danger d-block"></span>

                    <label class="form-label fw-bold">Telefonnummer*</label>
                    <input type="text" class="form-control" name="atu_number" id="phonePriv" />
                    <span id="emailErrorPriv" class="error-message text-danger d-block"></span>

                    <label class="form-label fw-bold">Bezirk*</label>
                    <input type="text" class="form-control" name="bezirk" id="bezirkPriv" />
                    
                    <label class="form-label fw-bold">Postleitzahl*</label>
                    <input type="text" class="form-control" name="plz_zip" id="plz_zipPriv" />

                    <label class="form-label fw-bold">Adresse*</label>
                    <input type="text" class="form-control" name="street_address" id="street_addressPriv" />

                    <label class="form-label fw-bold">Hausnummer*</label>
                    <input type="text" class="form-control" name="hausnummer" id="hausnummerPriv" />



                    <label class="form-label fw-bold">Passwort*</label>
                    <input type="password" class="form-control" name="password1" id="passwordPriv" />
                    <span id="passwordErrorPriv" class="error-message text-danger d-block"></span>
                    <label class="form-label fw-bold">Passwort bestätigen*</label>
                    <input type="password" class="form-control" name="password2" id="confirmPasswordPriv" />
                    <span id="confirmPasswordErrorPriv" class="error-message text-danger d-block"></span>
                  </div>
                  
                  <div class="register-inputs-container px-5 animate__animated animate__fadeInDown" id="inputs-firm">
                    <label class="form-label fw-bold">Vorname*</label>
                    <input required type="text" class="form-control" name="first_name" id="vornameFirm" />
                    <span id="vornameFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">Nachname*</label>
                    <input required  type="text" class="form-control" name="last_name" id="nachnameFirm" />
                    <span id="nachnameFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">Firmennamen*</label>
                    <input required type="text" class="form-control" name="company_name" id="firmNameFirm" />
                    <span id="firmNameError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">ATU-Nummer*</label>
                    <input required  type="text" class="form-control" name="atu_number" id="atuFirm" />
                    <span id="atuFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">E-Mail*</label>
                    <input required type="email" class="form-control" name="email" id="emailFirm" />
                    <span id="emailFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">Bezirk*</label>
                    <input required type="text" class="form-control" name="bezirk" id="bezirkFirm" />
                    
                    <label class="form-label fw-bold">Postleitzahl*</label>
                    <input required type="text" class="form-control" name="plz_zip" id="plz_zipFirm" />

                    <label class="form-label fw-bold">Adresse*</label>
                    <input required type="text" class="form-control" name="street_address" id="street_addressFirm" />

                    <label class="form-label fw-bold">Hausnummer*</label>
                    <input required type="text" class="form-control" name="hausnummer" id="hausnummerFirm" />




                    <label class="form-label fw-bold">Passwort*</label>
                    <input required type="password" class="form-control" name="password1" id="passFirm" />
                    <span id="passFirmError" class="error-message d-block text-danger"></span>
                    
                    <label class="form-label fw-bold">Passwort bestätigen*</label>
                    <input required  type="password" class="form-control" name="password2" id="confirmPasswordFirm" />
                    <span id="confirmPasswordErrorFirm" class="error-message d-block text-danger"></span>
                  </div>
                  
                  <div class="px-5 py-0">
                    <button type="submit" class="btn btn-black my-3 w-100">Kundenkonto erstellen</button>
                    <button class="btn btn-white w-100" class="btn-white" id="backToLogin" onclick="displayLogin()">
                      Zurück zur Anmeldung
                    </button>
                  </div>
                </form>
                
              </div>
              <div class="login  animate__animated animate__fadeIn px-5 py-3" id="loginModal">
                <div id="loginErrorContainer"></div>
                <form id="loginForm">
                    {% csrf_token %}
                    <label class="form-label fw-bold">E-Mail*</label>
                    <input type="email" class="form-control" id="loginEmail" name="email" required>
                    <label class="form-label fw-bold">Passwort*</label>
                    <input type="password" class="form-control" id="loginPassword" name="password" required>
                    <p><a href="{% url 'password_reset' %}" style="color: whitesmoke;">Passwort vergessen?</a></p>
                    <button type="submit" class="btn btn-black my-3 w-100">LOGIN</button>
                </form>
                <hr style="height: 2px; 
                background-color: #000; 
                opacity: 0.8;">
                <p style="color: whitesmoke;">Du hast noch kein Konto?</p>
                <button class="btn-white w-100" id="backToRegister" onclick="backToRegister()">
                  KUNDENKONTO ERSTELLEN
                </button>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-center">
        <h2 class="text-black title-product">Frische Vielfalt für Ihr Büro und Events  </h2>
        <span class="text-black fs-5">Bestellen Sie jetzt und bringen Sie frische Energie in Ihr Büro!  </span>
      </div>
      </div>
      <div class="cards-container p-4 mt-4">
        <div class="container">
          <div class="row">
            
            {% for product in best_products %}
              
           
              
    <div class="col-md-6 col-lg-4 resposive-padding" data-aos="zoom-in-left">
      <div class="bg-white p-4 h-100 d-flex flex-column">
        <div class="product-image-container">
          <img src="{{ product.image.url }}" class="w-100 translated-img" alt="" />
          <div class="overlay-text fs-2">{{ product.name }}</div>
        </div>
        <p class="fs-6 fw-semibold">
          {{ product.description }}
        </p>
        <div class="mt-auto">
          <a href="" class="btn custom-color-bg2 d-block m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.id }}">Jetzt Bestellen</a>
        </div>
      </div>
    </div>




                <!-- modal details box -->
    <div  class="modal product-details-modal fade modal-xl modal-special-products" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div class="modal-dialog ">
        <div   class="modal-content mx-auto">

          <div style="background-color: whitesmoke ;" class="modal-body">
            <div id="alert-container" class="alert alert-danger alert-dismissible " style="display: none;">
            </div>

            <div class="row p-3 details-box">
              <div class="d-flex justify-content-between">
                <h1>{{product.name}}</h1>
                <i class="fa-solid fa-x pointer-cursor" data-bs-dismiss="modal"></i>
              </div>

              <div style="display: none;" class="col-12 col-lg-6 mt-4  p-3 p-lg-5 ">
                <div class="row gap-4"> 
                  {% if product.customize %}
                  <div class="size-selection">
                    <h4>Boxgröße</h4>
                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeS" value="S" data-max-quantity="5" checked>
                      <label class="form-check-label" for="sizeS">S (max 5 kg)</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeM" value="M" data-max-quantity="10">
                      <label class="form-check-label" for="sizeM">M (max 10 kg)</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeL" value="L" data-max-quantity="15">
                      <label class="form-check-label" for="sizeL">L (max 15 kg)</label>
                    </div>
                  </div>
                {% endif %} 
                  <h4>Inhalt</h4>
                  {% for product_ingredient in product.ingredients.all %}
                  <div class="row m-0 p-0"> 
                      <div class="col-6">
                          <div class="ingredient-details">
                              {% if product.customize %}
                                  <input type="checkbox" class="ingredient-checkbox" data-ingredient-id="{{ product_ingredient.ingredient.id }}">
                              {% else %}
                                  <i class="fa-solid fa-square me-2"></i>
                                  <input hidden checked type="checkbox" class="ingredient-checkbox" data-ingredient-id="{{ product_ingredient.ingredient.id }}">
                              {% endif %}
                              {{ product_ingredient.ingredient }}
                          </div>
                      </div>
                      <!-- Hidden input field for ingredient price -->
                      <input type="hidden" class="ingredient-price" value="{{ product_ingredient.ingredient.price }}">
                      <div class="col-6 d-flex justify-content-end">
                          <div class="d-flex gap-3 align-items-center">
                              {% if product.customize %}
                                  <div class="minus circled minus-icon">
                                      <i class="fa-solid fa-minus"></i>
                                  </div>
                              {% endif %}
                              <div class="quantity text-center">
                                  <span id="product-quantity_{{ product_ingredient.ingredient.id }}">{{ product_ingredient.quantity }}</span>
                              </div>
                              {% if product.customize %}
                                  <div class="plus circled plus-icon">
                                      <i class="fa-solid fa-plus"></i>
                                  </div>
                              {% endif %}
                              <span class="fw-bold unit-span">{{ product_ingredient.ingredient.unit }}</span>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                
              
              </div>
            </div>

              
              <div class="col-12 col-lg-12   mt-4 mt-lg-3  p-3 p-lg-5  text-center"><div>
                <h2 style="font-size: 32px;" class="mt-4 mt-lg-0 text-center">Beschreibung</h2>
                <p class="mb-4">
                  {{ product.description }}
                </p>
                {% if  product.delivery  %}

                  <h2>Lieferung</h2>
                  <p class="mb-4">
                    
                    {{ product.delivery }}
                      
                    </p>
                    {% endif %}

                    <div class="mb-4 d-flex justify-content-between">
                      <span class="h5">Summe</span>
                      {% if product.customize %}
                      <span id="total-price" class="fw-bold">{{ product.calculate_total_cost }}€</span>

                     {% else %}
                     <span  class="fw-bold">{{ product.price }}€</span>

                      {% endif %}
                        
                    </div>
                    <div class=" text-center">

                  
                  {% if user.is_authenticated %}
                  <button data-item-id="{{ product.id }}" class="btn custom-color-bg2 add-to-cart-button">In den Warenkorb</button>

                  {% endif %}
                        
              </div>
              </div></div>
            </div>
          </div>
       
        </div>
      </div>
    </div>

            {% endfor %}
      <div class="col-12">
            {% if user.is_authenticated %}
            <a href="{% url 'products' %}">
            <button class="btn btn-white d-block m-auto mt-3 text-black" id="allProdBtn" >
            Alle Produkte
          </button>
        </a>
              {% else %}
              <button class="btn btn-white d-block m-auto mt-3 text-black" id="allProdBtn" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Alle Produkte
            </button>
            {% endif %}
          </div>

          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us Section -->
    <section id="contact-us" class="p-1">
      <div class="container my-5 bg-danger">
        <div class="row">
          <!-- inputs right -->
          <div class="col-lg-6 bg-third-color p-4">
            <div class="">
              <h4>Senden Sie Ihre Anfrage</h4>
              <form method="post" action="{% url 'submit_contact' %}">
                {% csrf_token %}
                <div class="inputs-container">
                  <input type="text" name="name" class="contact-input form-control" placeholder="Name" required />
                  <input type="email" name="email" class="contact-input form-control" placeholder="Email" required />
                  <input type="tel" name="phone" class="contact-input form-control" placeholder="Telefon" required />
                  <input type="text" name="address" class="contact-input form-control" placeholder="Adresse (Optional)" />
                  <textarea name="message" class="contact-input form-control" placeholder="Nachricht schreiben ..." required></textarea>
                  <button style="background-color: #FEEEA9;" type="submit" class="btn  my-3">Jetzt Senden</button>
                </div>
              </form>
            </div>
          </div>
          <!-- details left -->
          <div class="col-lg-6 bg-main-color">
            <div>
              <div class="row">
                <div style="background-image: url({% static 'Bilder/contact_image.png' %});" class="col-6 py-5 px-3 text-black">
                  <div>
                    <h2 class="fs-2 letter-spacing">Kontakt</h2>
                    <p class="lead fw-lighter ">Bei Fragen oder für weitere Informationen kontaktieren Sie uns gerne über das Formular oder direkt per Telefon und E-Mail. Wir helfen Ihnen schnell und kompetent weiter. </p>
                      <ul>
                        <li class="d-flex my-3">
                          <div class=" d-flex align-items-center p-2 "><i class="fa-solid fa-location-dot"></i></div>

                          <!-- <div class=" d-flex align-items-center "><img src="{% static 'Bilder/Ort.png' %}" class="img-icon " alt=""></div> -->
                          <div class="ps-2 line-h">
                            <h6 class="h5 p-0 m-0 fw-lighter" >Adresse</h6>
                            <span class="text-black lead">Großmarkt Wien: Laxenburger Str. 365C/10 Kopf West, 1230 Wien</span>
                          </div>
                           
                        </li>
                        <li class="d-flex my-3 line-h">
                          <div class=" d-flex align-items-center p-2"><i class="fa-solid fa-phone"></i></div>
                          <div class="ps-2">
                            <h6 class="h5 p-0 m-0 fw-lighter" >Telefonnummer</h6>
                            <span class=""><a href="tel:+43 676 6996690" class="text-black lead">+43 676 6996690
                            </a></span>
                          </div>
                           
                        </li>
                        <li class="d-flex my-3 line-h">
                          <div class=" d-flex align-items-center p-2"><i class="fa-solid fa-envelope"></i></div>
                          <div class="ps-2">
                            <h6 class="h5 p-0 m-0 fw-lighter" >Email</h6>
                            <span class=""><a href="mailto:office@frischverliebt.at" class="text-black lead">office@frischverliebt.at</a></span>
                            <br>
                            <!-- <span class=""><a href="mailto:max2@mustermann.com" class="text-white lead">max2@mustermann.com</a></span> -->
                          </div>
                           
                        </li>
                        
                      </ul>
                  </div>
                </div>
                <div class="col-6 p-0">
                  <div class="h-100 p-0">
                    <!-- height: 100%; -->
                      <!-- width="100%" height="450" -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.5314522064546!2d16.359139012505945!3d48.13855857112367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da9125aef1145%3A0x34957964195e5067!2sLaxenburger%20Str.%20365%2C%201230%20Wien!5e0!3m2!1sde!2sat!4v1718404782686!5m2!1sde!2sat" width="100%"    style="border:0;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  {% include 'include/footer.html' %}


  {% include 'include/scripts.html' %}


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<script src="{% static 'Js/products.js' %}"></script>

      <script src="{% static 'Js/index.js' %}"></script>

  <script src="{% static 'Js/custom.js' %}"></script>





    
  {% include 'include/ajax_functions.html' %}



  <script>
     
    // Add to cart
    $(document).ready(function() {
        $('.add-to-cart-button').click(function() {
          var modal = $(this).closest('.modal');
          var itemId = $(this).data('item-id');
          var ingredientQuantities = {};
    
          modal.find('.ingredient-checkbox:checked').each(function() {
              var ingredientId = $(this).data('ingredient-id');
              var quantity = $(this).closest('.row').find('.quantity span').text().trim();
              ingredientQuantities[ingredientId] = parseInt(quantity);
    
              console.log(ingredientQuantities)
          });
    
    
            var data = {
                id: itemId,
                ingredient_quantities: JSON.stringify(ingredientQuantities), // Send ingredient quantities as JSON
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
    
            $.ajax({
                type: 'POST',
                url: '{% url 'add_to_cart' %}',
                data: data,
                success: function(response) {
                    var totalQuantity = response.cart_items_count;
                    $('.cart-badge').text(totalQuantity).show().animate({
                        fontSize: '16px',
                    }, 200).animate({
                        fontSize: '12px',
                    }, 200);
                    alert('Produkt erfolgreich zum Warenkorb hinzugefügt');
                    location.reload(); // Refresh the page after adding to cart
                },
                error: function(xhr) {
                  var errorResponse = JSON.parse(xhr.responseText);
                  var errorMessage = errorResponse.error;
    
                  var alertContainer = modal.find('#alert-container');
                  alertContainer.empty(); // Clear previous content
                  alertContainer.append(errorMessage + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>');
                  alertContainer.show();
          }
            });
        });
    
    });
    
    
        </script>

</body>

</html>