{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'Bilder/logo.png' %}">


    {% include 'include/links.html' %}

    <title>Frischverliebt</title>

    <style>
      .unit-span {
  display: inline-block;
  width: 50px; 
  text-align: start;
}
.quantity{
  width: 16px;
}

.category-container {
    background-color: #93BC84;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow the content to wrap */
    font-size: 20px;
    font-weight: bold;
}

.category-link {
    color: #000;
    text-decoration: none;
    margin: 5px; /* Add some margin to prevent overcrowding */
}

@media (max-width: 992px) {
    .category-container {
        justify-content: flex-start; /* Align items to the start on small screens */
        padding: 10px; 
        display: block;
        font-size: 16px;
        font-weight: 500;
    }

    .category-link {
        margin: 5px 2px; /* Adjust margin for small screens */
    }


    .product_description{
      font-size: 10px !important;
    }
    .overlay-text{
      font-size: 15px !important;
      top: -16%;
    left: 24%;
    }
    .translated-img {
        transform: translate(-27%, -27%);
        width: 130px !important;
    }

}
@media (max-width: 1200px) {


}
.category-link:hover {
    text-decoration: underline; /* Underline on hover for better UX */
}
    </style>
  </head>
  <body>
    
    {% include 'include/nav.html' %}


<!-- side bar -->

    {% include 'include/aside.html' %}





    <main style="background-color: #D6EAC1;">
      {% if user.role == "private" %}

    
      <section id="priv-products" >
        <div class="container">
          <div class="row ">
            <h1 class="text-center text-black mt-5">Unsere Produkte  <br>
              <span class="under-heading text-black">  - PRIVAT -</span>

            </h1>
            <div class="category-container my-lg-5 mt-2 mb-5 ">
              {% for category in private_categories %}
                  <a href="#{{ category.name }}" class="category-link">{{ category.name }}</a>
                  {% if not forloop.last %} - {% endif %}
              {% endfor %}
          </div>

            {% for category, privat_products in private_products_by_category.items %}
            <section id="{{category}}" class="row">

           
            <h3 class="under-heading text-black text-center fw-bold">  - {{category}} -</h3>

            {% for product in privat_products %}
     
          
              
            <div class="col-6 col-lg-4 p-3">
              <div class="bg-white p-4 h-90 position-relative  d-flex flex-column">
                <div class="product-image-container ">
                  <img src="{{ product.image.url }}" class="w-100 translated-img" alt="" />
                  <div class="overlay-text fs-5 fs-lg-3">{{product.name}}</div>
                </div>
                <p style="font-family: chaparral;" class="fs-6 fw-semibold product_description">
                  {{product.description}}
                </p>
                <div class="mt-auto">

                <a href="" class="btn custom-color-bg2 d-block m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.id }}">Jetzt Bestellen</a>
              </div>

              </div>
            </div>




<!-- modal for product detials  -->

    <!-- modal details box -->
    <div class="modal product-details-modal fade modal-xl" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">
            <div id="alert-container" class="alert alert-danger alert-dismissible " style="display: none;">
            </div>

            <div class="row p-3 details-box">
              <div class="d-flex justify-content-between">
                <h1>{{product.name}}</h1>
                <i class="fa-solid fa-x pointer-cursor" data-bs-dismiss="modal"></i>
              </div>


              <div class="col-12 col-lg-6 mt-4  p-3 p-lg-5 ">
                <div class="row gap-4"> 

                  {% if product.customize %}


                  {% if not product.hide_price %}                
                  <div class="size-selection">
                    <h4>Boxgröße</h4>


                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeS" value="S" data-max-quantity="5" checked>
                      <label class="form-check-label" for="sizeS">S (max 5 kg)</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeM" value="M" data-max-quantity="10">
                      <label class="form-check-label" for="sizeM">M (max 10 kg)</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeL" value="L" data-max-quantity="15">
                      <label class="form-check-label" for="sizeL">L (max 15 kg)</label>
                    </div>
                  </div>
                  {%endif %}
                {% endif %} 
                  <h4>Inhalt</h4>
                  {% for product_ingredient in product.ingredients.all %}
                  <div class="row m-0 p-0"> 
                      <div class="col-4 col-lg-6">

                          <div class="ingredient-details">
                                 {% if product.hide_price %}
                            <input hidden checked type="checkbox" class="ingredient-checkbox" data-ingredient-id="{{ product_ingredient.ingredient.id }}">

                              {% elif product.customize %}
                                  <input type="checkbox" class="ingredient-checkbox" data-ingredient-id="{{ product_ingredient.ingredient.id }}">
                              {% else %}
                                  <i class="fa-solid fa-square me-2"></i>
                                  <input hidden checked type="checkbox" class="ingredient-checkbox" data-ingredient-id="{{ product_ingredient.ingredient.id }}">
                              {% endif %}
                             {{ product_ingredient.ingredient }}
                          </div>
                      </div>
                      <!-- Hidden input field for ingredient price -->
                      <input type="hidden" class="ingredient-price" value="{{ product_ingredient.ingredient.price }}">
                      <div class="col-8 col-lg-6 d-flex justify-content-end">
                          <div class="d-flex gap-3 align-items-center">
                              {% if product.customize %}
                                  <div class="minus circled minus-icon">
                                      <i class="fa-solid fa-minus"></i>
                                  </div>
                              {% endif %}
                              <div class="quantity text-center">
                                  <span id="product-quantity_{{ product_ingredient.ingredient.id }}">{{ product_ingredient.quantity }}</span>
                              </div>
                              {% if product.customize %}
                                  <div class="plus circled plus-icon">
                                      <i class="fa-solid fa-plus"></i>
                                  </div>
                              {% endif %}
                              <span class="fw-bold unit-span">{{ product_ingredient.ingredient.unit }}</span>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                
              
              </div>
            </div>
              
              <div class="col-12 col-lg-6 mt-4 mt-lg-3  p-3 p-lg-5 border-left"><div>
                <h2 class="mt-4 mt-lg-0">Beschreibung:</h2>
                <p class="mb-4">
                  {{ product.description }}
                </p>
                {% if  product.delivery  %}

                  <h2>Lieferung</h2>
                  <p class="mb-4">
                    
                    {{ product.delivery }}
                      
                    </p>
                    {% endif %}


                    {% if not product.hide_price %}
                    <div class="mb-4 d-flex justify-content-between">
                      <span class="h5">Summe</span>
                      {% if product.customize %}
                      <span id="total-price" class="fw-bold">{{ product.calculate_total_cost }}€</span>

                     {% else %}
                     <span  class="fw-bold">{{ product.price }}€</span>

                      {% endif %}
                        
                    </div>

                    {% endif %}
                    <div class=" text-center">


                      <button data-item-id="{{ product.id }}" class="btn custom-color-bg2 add-to-cart-button">In den Warenkorb</button>
                    </div>
              </div></div>
            </div>
          </div>
       
        </div>
      </div>
    </div>

            {% endfor %}
          </section>
            {% endfor %}
              <!-- <div class="col bg-white rounded-5">
                <div>
                  
                </div>
              </div> -->
          </div>
        </div>
      </section>
      {% else %}
     
      <section id="firm-products" >
        <div class="container">
          <div class="row ">
            <h1 class="text-center  text-black my-5">Unsere Produkte  <br>
              <span class="fs-5 text-black">  - BUSINESS -</span>
            </h1>
            

            <div class="category-container my-lg-5 mt-2 mb-5 ">
              {% for category in business_categories %}
                  <a href="#{{ category.name }}" class="category-link">{{ category.name }}</a>
                  {% if not forloop.last %} - {% endif %}
              {% endfor %}
          </div>


          {% for category, business_products in business_products_by_category.items %}

          <section id="{{category}}" class="row">

           
            <h3 class="under-heading text-black text-center fw-bold">  - {{category}} -</h3>

            {% for product in business_products %}
              
            
             <div class="col-md-6 col-lg-4 p-3">
              <div class="bg-white p-4 h-90 position-relative  d-flex flex-column">
                <div class="product-image-container">
                  <img src="{{ product.image.url }}" class="w-100 translated-img" alt="" />
                  <div class="overlay-text fs-5 fs-lg-3">{{product.name}}</div>
                </div>
                <p class="fs-6 fw-semibold">
                  {{product.description}}
                </p>
                <div class="mt-auto">
                <a href="" class="btn custom-color-bg2 d-block m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.id }}">Jetzt Bestellen</a>
              </div>
            </div>
            </div>





<!-- modal for product detials  -->

    <!-- modal details box -->
    <div class="modal product-details-modal fade modal-xl" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">
            <div id="alert-container" class="alert alert-danger alert-dismissible " style="display: none;">
            </div>

            <div class="row p-3 details-box">
              <div class="d-flex justify-content-between">
                <h1>{{product.name}}</h1>
                <i class="fa-solid fa-x pointer-cursor" data-bs-dismiss="modal"></i>
              </div>


              <div class="col-12 col-lg-6 mt-4  p-3 p-lg-5 ">
                <div class="row gap-4"> 

                  {% if product.customize %}


                  {% if not product.hide_price %}                
                  <div class="size-selection">
                    <h4>Boxgröße</h4>


                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeS" value="S" data-max-quantity="5" checked>
                      <label class="form-check-label" for="sizeS">S (max 5 kg)</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeM" value="M" data-max-quantity="10">
                      <label class="form-check-label" for="sizeM">M (max 10 kg)</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input size-radio" type="radio" name="size_{{ product.id }}" id="sizeL" value="L" data-max-quantity="15">
                      <label class="form-check-label" for="sizeL">L (max 15 kg)</label>
                    </div>
                  </div>
                  {%endif %}
                {% endif %} 
                  <h4>Inhalt</h4>
                  {% for product_ingredient in product.ingredients.all %}
                  <div class="row m-0 p-0"> 
                      <div class="col-4 col-lg-6">
                          <div class="ingredient-details">

                              

                                
                            {% if product.hide_price %}
                            <input hidden checked type="checkbox" class="ingredient-checkbox" data-ingredient-id="{{ product_ingredient.ingredient.id }}">

                              {% elif product.customize %}
                                  <input type="checkbox" class="ingredient-checkbox" data-ingredient-id="{{ product_ingredient.ingredient.id }}">
                              {% else %}
                                  <i class="fa-solid fa-square me-2"></i>
                                  <input hidden checked type="checkbox" class="ingredient-checkbox" data-ingredient-id="{{ product_ingredient.ingredient.id }}">
                              {% endif %}
                              {{ product_ingredient.ingredient }}
                          </div>
                      </div>
                      <!-- Hidden input field for ingredient price -->
                      <input type="hidden" class="ingredient-price" value="{{ product_ingredient.ingredient.price }}">
                      <div class="col-8 col-lg-6 d-flex justify-content-end">
                          <div class="d-flex gap-3 align-items-center">
                              {% if product.customize %}
                                  <div class="minus circled minus-icon">
                                      <i class="fa-solid fa-minus"></i>
                                  </div>
                              {% endif %}
                              <div class="quantity text-center">
                                  <span id="product-quantity_{{ product_ingredient.ingredient.id }}">{{ product_ingredient.quantity }}</span>
                              </div>
                              {% if product.customize %}
                                  <div class="plus circled plus-icon">
                                      <i class="fa-solid fa-plus"></i>
                                  </div>
                              {% endif %}
                              <span class="fw-bold unit-span">{{ product_ingredient.ingredient.unit }}</span>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                  

                
              
              </div>
            </div>
              
              <div class="col-12 col-lg-6 mt-4 mt-lg-3  p-3 p-lg-5 border-left"><div>
                <h2 class="mt-4 mt-lg-0">Beschreibung:</h2>
                <p class="mb-4">
                  {{ product.description }}
                </p>

                
                {% if product.delivery %}
                  
                
                  
                <h2>Lieferung</h2>
                <p class="mb-4">
                  
                  {{ product.delivery }}
                    
                  </p>
                  {% endif %}
                  {% if not product.hide_price %}

                    <div class="mb-4 d-flex justify-content-between">
                      <span class="h5">Summe</span>
                      {% if product.customize %}
                      <span id="total-price" class="fw-bold">{{ product.calculate_total_cost }}€</span>

                     {% else %}
                     <span  class="fw-bold">{{ product.price }}€</span>

                      {% endif %}
                        
                    </div>
                      
                      {% endif %}
                    <div class=" text-center">


                      <!-- <button data-item-id="{{ product.id }}" class="btn btn-orange add-to-cart-button">In den Warenkorb</button> -->
                      <button data-item-id="{{ product.id }}" class="btn custom-color-bg2 add-to-cart-button">In den Warenkorb</button>

                    </div>
              </div></div>
            </div>
          </div>
       
        </div>
      </div>
    </div>

          {% endfor %}
        </section>
          {% endfor %}

          </div>
        </div>
      </section>
      {% endif %}
    </main>


    {% include 'include/footer.html' %}

    {% include 'include/scripts.html' %}

    <script src="{% static 'Js/products.js' %}"></script>
    <script src="{% static 'Js/custom.js' %}"></script>

    <script src="https://js.stripe.com/v3/"></script>
    

    {% include 'include/ajax_functions.html' %}

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const sizeButtons = document.querySelectorAll('.size-btn');
        const sizeInfo = document.getElementById('size-info');
    
        sizeButtons.forEach(button => {
          button.addEventListener('click', function() {
            const maxQuantity = this.getAttribute('data-max-quantity');
            const size = this.getAttribute('data-size');
            sizeInfo.textContent = `For size ${size}, maximum quantity is ${maxQuantity} kilos.`;
          });
        });
      });
    </script>



  <script>
     
// Add to cart
$(document).ready(function() {
    $('.add-to-cart-button').click(function() {
      var modal = $(this).closest('.modal');
      var itemId = $(this).data('item-id');
      var ingredientQuantities = {};

      modal.find('.ingredient-checkbox:checked').each(function() {
          var ingredientId = $(this).data('ingredient-id');
          var quantity = $(this).closest('.row').find('.quantity span').text().trim();
          ingredientQuantities[ingredientId] = parseInt(quantity);

          console.log(ingredientQuantities)
      });


        var data = {
            id: itemId,
            ingredient_quantities: JSON.stringify(ingredientQuantities), // Send ingredient quantities as JSON
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        };

        $.ajax({
            type: 'POST',
            url: '{% url 'add_to_cart' %}',
            data: data,
            success: function(response) {
                var totalQuantity = response.cart_items_count;
                $('.cart-badge').text(totalQuantity).show().animate({
                    fontSize: '16px',
                }, 200).animate({
                    fontSize: '12px',
                }, 200);
                alert('Produkt erfolgreich zum Warenkorb hinzugefügt');
                location.reload(); // Refresh the page after adding to cart
            },
            error: function(xhr) {
              var errorResponse = JSON.parse(xhr.responseText);
              var errorMessage = errorResponse.error;

              var alertContainer = modal.find('#alert-container');
              alertContainer.empty(); // Clear previous content
              alertContainer.append(errorMessage + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>');
              alertContainer.show();
      }
        });
    });

});


    </script>



  



  </body>
</html>
