{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static 'Bilder/logo.png' %}">

  {% include 'include/links.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/progress_tracker.css' %}">

  <title>Frischverliebt</title>

 <style>

 </style> 
</head>


<body style="background-color: #D6EAC1;">
<!-- side bar -->

  {% include 'include/aside.html' %}


  {% include 'include/nav.html' %}







  <main>
    <!-- landing section -->
    <section style="margin-bottom: 320px; margin-top: 140px;" class="d-flex justify-content-center">
      <div  class="container" data-aos="fade-down">

        
        {% if  order.has_hidden_price_product %}
        <ol class="progress-tracker ms-4">
          <li class="step completed"><a href="#" class="step-name">Daten</a></li>
          
          <li class="step completed"><a href="#" class="step-name">Übersicht</a></li>
          <li class="step active"><span class="step-name">Prüfen</span></li>
        </ol>
 
        <div class="row mt-5">
        <div class="col-12 text-center">
          <h1 class="display-4">Vielen Dank für deine Bestellung !</h1>
          <p >Vielen Dank für Ihre Bestellung. Die Bestellung ist bei uns eingegangen. Eine Rechnung wird in Kürze per Mail an Sie gesendet.</p>
          <a href="{% url 'home' %}" class="btn btn-black mt-3">Startseite</a>
        </div>

        </div>
          {% else %}

          <ol class="progress-tracker ms-4">
            <li class="step completed"><a href="#" class="step-name">Daten</a></li>
            
            <li class="step completed"><a href="#" class="step-name">Zahlung</a></li>
            <li class="step active"><span class="step-name">Prüfen</span></li>
          </ol>
   
          <div class="row mt-5">
          <div class="col-12 text-center">
            <h1 class="display-4">Vielen Dank für deine Bestellung !</h1>
            <p >Vielen Dank für Ihren Einkauf. Ihre Transaktion wurde abgeschlossen, und eine Quittung für Ihren Einkauf wurde Ihnen per E-Mail zugesandt.</p>
            <a href="{% url 'home' %}" class="btn btn-black mt-3">Startseite</a>
          </div>
  
          </div>
        {% endif %}
          

      </div>
    </section>

    

  </main>
  
  {% include 'include/footer.html' %}


  {% include 'include/scripts.html' %}


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<script src="{% static 'Js/products.js' %}"></script>



  <script src="https://js.stripe.com/v3/"></script>
    
  {% include 'include/ajax_functions.html' %}




</body>

</html>