
$main-color: #7f7f35;
$secondary-color: #ebefce;
$orange-color: #dd8c38;
$third-color: #e3eca8;

// global
html{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
.product-details-modal{
 .fa-square{
  color: gray;
 }
 .circled{
  background-color: rgb(194, 190, 190);
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50% !important;
  justify-content: center;
  align-items: center;
  
 }
}
.add-to-cart{
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;

}
.letter-spacing{
  letter-spacing: 3px;
}
.lead{
  font-size: 13px;
}
.fw-bold{
  font-weight: 600 !important;
}
.fs-1{
  font-size: 3.75rem !important;
}
.orange-bg {
  background-color: $orange-color;
  border-radius: 10px;
  color: #fff;
}
.modal i{
  cursor: pointer;
}
.bg-main-color {
  background-color: $main-color;
}
.bg-third-color {
  background-color: $third-color !important;
}
.bg-secondary-color {
  background-color: $secondary-color !important;
}
.bg-gray{
  background-color: #ccc;
}
.btn-orange {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #dd8c38 !important;
  --bs-btn-border-color: #dd8c38 !important;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: #dd8c38 !important;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dd8c38;
  --bs-btn-active-border-color: #dd8c38;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dd8c38;
  --bs-btn-disabled-border-color: #dd8c38;
  max-width: 200px !important;
}
ul {
  list-style: none;
}
.unique-img {
  width: 140px !important;
}
.under-heading{
  font-weight: 450;
font-size: 20px;
letter-spacing: 1px;
}
.translated-img {
  transform: translate(-12%, -12%);
}
.fs-6{
  font-size: 13px !important;

}
.text-color-green {
  color: #c0bd62;
}
.text-color-green-dark {
  color: #777a3f;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: $orange-color;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(221, 140, 56, 0.25);
}
.activeRegsiterBtn{
    background-color: #000;
    color: #ffff;
}
.text-light{
  font-weight: 300 !important;
}


// }
.btn-white{
    border: none;
    outline: none;
    padding: 10px 30px;
    background-color: #fff;
    color: #000;
    
}
.btn-black{
    border: none;
    outline: none;
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    
}
.modal .btn:hover{
    background-color: #000 !important;
    color: #fff;
}
.border-left{
  border-left: 1px solid black;
}
@media(max-width:991.98px){
  .translated-img {
    transform: translate(0%, 0%);
  }


}
// ======================================== global components use ======================================== //
nav {
  background-color: $main-color;
  i {
    color: #fff !important;
    cursor: pointer;
  }
  .nav-link {
    color: #fff !important;
  }
  .nav-item {
    margin: 0 10px;
  }
  .navbar-brand img {
    width: 80px;
  }
  .orange-bg {
    background-color: $orange-color;
    border-radius: 10px;
  }
 
  .icon-cart{
    width: 30px !important;
    position: absolute;
    right: 20px;
  }
  
}
@media(max-width:792.98px){
  
  nav .container{
    width: 80%;
  }
  }
@media(max-width:422.98px){
  
  nav .container{
    width: 70%;
  }
  }
footer {
    background-color: $main-color;
    text-align: center;
    margin: 0;
    color: #fff;
    padding: 1px;
    
    img {
      width: 120px;
      display: block;
      margin: auto;
    }
    img:nth-child(2) {
      width: 200px;
    }
    p {
      margin: 10px 0;
      padding: 0;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  aside{
    position: fixed;
    top: 0;
    right:-1000px ;
    bottom: 0;
    background-color: #fff;
    width: 60%;
    z-index: 999999;
    transition: .5s;
    padding: 0 !important;
    margin: 0 !important;    
    overflow-y: scroll;
    overflow-x: hidden;
    @media (max-width:991.98px) {
      .sidebarFooter{
        flex-direction: column;
       }  
    }
   
    .icon-close{
      text-align: right;
      padding: 20px;
      border-bottom: 1px  solid #000;
      i{
        
      }
    }
    .circled{
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid #000;

    }
   
    .bottom-border{
      border-bottom: 1px solid #000;
   }
   .remove-btn{
    button{
      text-decoration: underline;
    }
   }
  }
  aside.open{
    width: 50%;
  }
  .item-buttons-cart{
    // padding: 0 !important;
    // column-gap: 5px;
    // align-items: center;
    padding: 10px 0;
    column-gap: 10px;
  }
  @media (max-width:500px){
    
    .item-buttons-cart{
      flex-wrap: wrap;
      justify-content: center;

    }
   
    .item-buttons-cart .remove-btn{
      width: 100%;
      text-align: center;
    }
    
  }

  @media(max-width:888.98px){
    aside.open{
      width: 75%;
    }
    
  }
  // @media(max-width:684.98px){
  //   // .container-fluid{
  //   //   width: 75%;
  //   // }
  //   nav img{
  //     width: 50px !important;
  //   }
    
  // }
  @media(max-width:366.98px){
    // .container-fluid{
    //   width: 50%;
    // }
  }
// ======================================== global components use ======================================== //

// ======================================== Home Start ======================================== //
header {
  min-height: calc(100vh - 91.16px);
  background-color: $secondary-color;
  .header-heading {
    font-size: 70px;
  }
  .paragraph-width {
    max-width: 400px;
    text-align: left;
  }
  @media (max-width: 991.98px) {
    img {
      display: none;
    }
  }
}
section#about-us {
  background-color: $third-color;
  h2 {
    font-size: 5rem;
    padding: 35px;
    font-weight: 900;
  }
  h3{
    font-weight: 700;
    font-size: 2rem !important;
  }
  ul {
    padding: 0;
    li {
    font-weight: 400;
    font-size: 21px;
  }
}
  @media(max-width:991.98px){
    h2 {
      font-size: 3rem;
    }
  }
  li {
    margin: 15px 0;
  }
  li::before {
    content: "- ";
  }
  article {
    img {
      width: 140px;
    }
  }
  
  
}

section#our-products {
 padding-top:80px ;
 padding-bottom:80px ;
  
  .modal-header , .modal-body , .modal-content{
    background-color: $main-color;
        border: none !important;



}
  h2 {
    font-size: 50px;
    font-weight: 400;
  }
}
@media (min-width:992.98px){
.resposive-padding{
  padding: 25px !important;
}
}
@media (max-width:1199.98px){
.resposive-padding{
  padding: 20px !important;
}
}
section#contact-us {
  background-color: $secondary-color;
  .inputs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
      width: 49%;
      margin: 10px 0;
    }
    textarea {
      height: 200px;
      resize: none;
    }
  }
ul{
  padding: 0;
}
  iframe {
    min-height: 500px;
  }
  .img-icon{
    width: 40px;
  }
  // .icon-contact-detials{
  //   background-color: $third-color;
  //   width: 40px;
  //   height: 40px;
  //   // padding: 10px;
  //   display: inline-block;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 50%;

  // }
  
}
// ======================================== Home End ======================================== //

// ======================================== Products Page Start ======================================== //

// .details-box{
//   i.fa-square{
//     color: #ccc;
//     font-size: 20px;
//   }
// }

// ======================================== Products Page End ======================================== //
// ======================================== Edit Profile Page Start ======================================== //


section#editProfile{
min-height: calc(100vh - 91.16px);
.active{
  background-color: #000;
  color: #fff;

}
li { 
  padding: 10px;
  background-color: #fff;
  margin: 20px 0;
  font-weight: 600;
}
}
// ======================================== Edit Profile Page End ======================================== //





@media (max-width:991px){
  nav .icon-cart{
    width: 20px !important;
  }
  
.section#about-us h3{
  font-size: 20px !important;
}

}