{% load static %}
<footer class="text-black">
    <!-- <img src="{% static 'Bilder/LOGO_ALLEINE.png' %}" alt="" /> -->
    <img src="{% static 'Bilder/logo-big2.png' %}" alt="" />
    <p>Adresse: Großmarkt Wien: Laxenburger Str. 365C/10, 1230 Wien</p>
    <p>Telefonnummer: <a class="text-black" href="tel:+43 676 6996690">+43 676 6996690 </a></p>
    <p>Email: <a class="text-black" href="mailto:office@frischverliebt.at">office@frischverliebt.at</a></p>


    <p><a style="text-decoration: underline;" class="text-black" href="#">Impressum </a> - <a style="text-decoration: underline;" class="text-black" href="#">Datenschutzerklärung </a></p>

  </footer>