{% load static %}
<nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand d-none d-md-block" href="{% url 'home' %}">
        <img  src="{% static 'Bilder/logo-big2.png' %}" alt="Handels OGOBST & GEMÜSE" />
      </a>

      <a class="navbar-brand d-md-none" href="{% url 'home' %}">
        <img  src="{% static 'Bilder/logo-big2.png' %}" alt="Handels OGOBST & GEMÜSE" />
      </a>

      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mx-4  mb-lg-0  d-flex ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}#about-us">Über Uns</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'products' %}">Produkte</a>

            {% else %}
            <a class="nav-link" href="{% url 'home' %}#our-products">Produkte</a>

            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#contact-us">Kontakt</a>
          </li>

          

        </ul>
      </div>

  </nav>
