{% load static %}
<nav class="navbar navbar-expand-lg py-0 py-lg-2">
      <a class="navbar-brand d-none d-md-block" href="{% url 'home' %}">
        <img  src="{% static 'Bilder/logo-big2.png' %}" alt="Handels OGOBST & GEMÜSE" />
      </a>

      <a class="navbar-brand d-md-none" href="{% url 'home' %}">
        <img  src="{% static 'Bilder/logo-big2.png' %}" alt="Handels OGOBST & GEMÜSE" />
      </a>

      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mx-4  mb-lg-0  d-flex ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}#about-us">Über Uns</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'products' %}">Produkte</a>

            {% else %}
            <a class="nav-link" href="{% url 'home' %}#our-products">Produkte</a>

            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#contact-us">Kontakt</a>
          </li>

          
          {% if user.is_authenticated %}
            
         
            
          <li class="nav-item dropdown"> <!-- Added dropdown class to the list item -->
            <a style=" color: black !important ;" class="nav-link dropdown-toggle custom-color-bg text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">

              <i  class="fa fa-user text-black " aria-hidden="true"> </i>
              {{user.first_name}}
              
              
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- Add your dropdown menu items here -->
              <li><a class="dropdown-item fw-bold" href="{% url 'edit_profile' %}">Profil</a></li>
              <li><a class="dropdown-item fw-bold" href="{% url 'logout' %}">Abmelden</a></li>
            </ul>
          </li>

          {% else %}
            
          <li  class="nav-item dropdown"> <!-- Added dropdown class to the list item -->
            <a style="padding-right: 3px; padding-left: 3px; color: black !important ;" class="nav-link custom-color-bg text-black " href="#" id="navbarDropdown" role="button"data-bs-toggle="modal"
            data-bs-target="#exampleModal">


            <i  class="fa fa-user text-black " aria-hidden="true"> </i>
            Anmelden
               <!-- <img id="profile_icon" src="{% static 'Bilder/Mensch_Weiß.png' %}">
              Anmelden  -->
            </a>

          </li>

          {% endif %}
        </ul>
      </div>
      {% if user.is_authenticated %}

      <div class="icon-cart-container p-1" id="icon-cart-container">
        <img src="{% static 'Bilder/cart.png' %}" class="icon-cart" id="cartIcon"> 
        
        {% if total_quantity > 0 %}
        <span class="cart-badge" id="cart-badge">
          
          
          {{ total_quantity }}
        
            
          </span>

          {% endif %}
      </div>
    {% endif %}
  </nav>
