<script>
    document.addEventListener('DOMContentLoaded', function() {
        var stripe = Stripe('{{STRIPE_PUBLIC_KEY}}');
        var elements = stripe.elements();

        // Create separate elements for card number, expiry date, CVC.
        var cardNumber = elements.create('cardNumber');
        cardNumber.mount('#card-number-element');

        var cardExpiry = elements.create('cardExpiry');
        cardExpiry.mount('#card-expiry-element');

        var cardCvc = elements.create('cardCvc');
        cardCvc.mount('#card-cvc-element');



        // Fetch and display total price when the page loads
        fetch('/load_modal_data/').then(response => response.json()).then(data => {
            if (data.error) {
                console.error(data.error);
            } else {
                document.getElementById('total-price').textContent = `Gesamtsumme: €${data.total_price.toFixed(2)}`;
                document.getElementById('total-price').setAttribute('data-total-price', data.total_price.toFixed(2));
                document.getElementById('total-price').setAttribute('data-final-price', data.total_price.toFixed(2));

            }
        });

        document.getElementById('payment-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const subscriptionType = document.querySelector('input[name="subscription"]:checked').value;
            if (subscriptionType === 'one_time') {
                processOneTimePayment();
            } else {
                processSubscription();
            }
        });

        function processOneTimePayment() {
            const csrftoken = getCookie('csrftoken');
            const totalPriceDiv = document.getElementById('total-price');
            const finalPrice = parseFloat(totalPriceDiv.getAttribute('data-final-price'));

            fetch('/create_one_time_payment/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ amount: finalPrice })
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                if (data.error) {
                    console.error(data.error);
                    alert('Ihre Zahlung war nicht erfolgreich: ' + data.error);
                } else {
                    stripe.confirmCardPayment(data.clientSecret, {
                        payment_method: {
                            card: cardNumber,
                            billing_details: {
                                name: '{{ request.user.first_name }}',
                            },
                        }
                    }).then(function(result) {
                        if (result.error) {
                            var errorElement = document.getElementById('card-errors');
                            errorElement.textContent = result.error.message;
                        } else {
                                    
                            alert('Ihre Zahlung war erfolgreich');
                            window.location.href = '/success_page/';
                        }
                    });
                }
            }).catch(function(error) {
                console.error('Fetch error:', error);
                alert('Ihre Zahlung war nicht erfolgreich.');
            });
        }

        function processSubscription() {
            stripe.createPaymentMethod({
                type: 'card',
                card: cardNumber,
            }).then(function(result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    stripePaymentMethodHandler(result.paymentMethod.id);
                }
            });
        }

        function stripePaymentMethodHandler(paymentMethodId) {
            const csrftoken = getCookie('csrftoken');
            const totalPriceDiv = document.getElementById('total-price');
            const finalPrice = parseFloat(totalPriceDiv.getAttribute('data-final-price'));
            const delivery_period = document.querySelector('input[name="subscription"]:checked').value;

            fetch('/create_subscription/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ paymentMethodId: paymentMethodId, final_price: finalPrice, delivery_period: delivery_period })
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                if (data.error) {
                    console.error(data.error);
                    alert('Ihr Abonnement ist nicht erfolgreich eingerichtet: ' + data.error);
                    window.location.href = '/failed_page/';
                } else {
                    alert('Ihr Abonnement ist erfolgreich eingerichtet!');
                    window.location.href = '/success_page/';
                }
            }).catch(function(error) {
                console.error('Fetch error:', error);
                alert('Ihr Abonnement ist nicht erfolgreich eingerichtet.');
            });
        }


    });
    </script>