
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include 'include/links.html' %}
  <link rel="shortcut icon" href="{% static 'Bilder/logo-big2.png' %}">

  <title>Passwort zurücksetzen</title>

 <style>

 </style> 
</head>


<body style="background-color: #D6EAC1;">
<!-- side bar -->

{% include 'include/nav-reset-password.html' %}







  <main>
    <!-- landing section -->
    <section style="margin-bottom: 450px; margin-top: 170px;" class="d-flex justify-content-center">
      <div class="container mt-5" data-aos="fade-down">
        <div class="row justify-content-center">
          <p class="text-center">An email has been sent with instructions on how to reset your password.</p>

        </div>
    </div>
    </section>

    

  </main>
  
  {% include 'include/footer.html' %}


  {% include 'include/scripts.html' %}


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<script src="{% static 'Js/products.js' %}"></script>

    <script src="{% static 'Js/index.js' %}"></script>


  <script src="{% static 'Js/custom.js' %}"></script>

  <script src="https://js.stripe.com/v3/"></script>
    
  {% include 'include/ajax_functions.html' %}




</body>

</html>