{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include 'include/links.html' %}

  <title>reset password</title>

 <style>

 </style> 
</head>


<body>
<!-- side bar -->

{% include 'include/nav-reset-password.html' %}



  <main>
    <!-- landing section -->
    <section style="margin-bottom: 200px; margin-top: 120px;" class="d-flex justify-content-center">
      <div class="container mt-5" data-aos="fade-down">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Password Reset</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid">
                                <button class="btn btn-black mt-3" type="submit">Reset my password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    

  </main>
  
  {% include 'include/footer.html' %}


  {% include 'include/scripts.html' %}


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<script src="{% static 'Js/products.js' %}"></script>

    <script src="{% static 'Js/index.js' %}"></script>


  <script src="{% static 'Js/custom.js' %}"></script>

  <script src="https://js.stripe.com/v3/"></script>
    
  {% include 'include/ajax_functions.html' %}




</body>

</html>