

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include 'include/links.html' %}

  <title>Success</title>

 <style>

 </style> 
</head>


<body>



  {% include 'include/nav-reset-password.html' %}







  <main>
    <!-- landing section -->
    <section style="margin-bottom: 230px; margin-top: 180px;" class="d-flex justify-content-center">
      <div  class="container" data-aos="fade-down">


        <div class="row mt-5">
        <div class="col-12 text-center">
          <p>Your password has been successfully reset. </p>
        </div>

        </div>
      </div>
    </section>

    

  </main>
  
  {% include 'include/footer.html' %}


  {% include 'include/scripts.html' %}


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<script src="{% static 'Js/products.js' %}"></script>

    <script src="{% static 'Js/index.js' %}"></script>


  <script src="{% static 'Js/custom.js' %}"></script>

  <script src="https://js.stripe.com/v3/"></script>
    
  {% include 'include/ajax_functions.html' %}




</body>

</html>